mixin intro()
  section.intro(id="intro")&attributes(attributes)
    .container
      h1.visually-hidden Карьера в articul
      .intro__wrapper-list
        ul.intro__list
          li.intro__item Удаленка
          li.intro__item Высокая зарплата
          li.intro__item Обучение
          li.intro__item Вечеринки
          li.intro__item Сильная команда
        h2.intro__title Карьера
      h2.intro__title.intro__title--second в articul
      ul.intro__vacancy
        li.intro__vacancy-item.intro__vacancy-item--number
          .intro__wrapper
            .intro__number 5
            .intro__text
                +icon("intro-text", "484", "484")
        li.intro__descript
          | Мы верим, что каждый вновь приходящий обогащает нашу жизнь,
          | привносит свои идеи, свои смыслы, свое настроение, свою уникальность
