mixin vacancy()
  section.vacancy(id="vacancy")&attributes(attributes)
    .container
      ul.vacancy__list
        li.vacancy__item
          .vacancy__trigger
            span Middle web designer
            .vacancy__btn-trigger
          .vacancy__content-wrapper
            .vacancy__content
              ul.vacancy__descript
                li.vacancy__experience
                  span >6
                  span лет опыта
                li.vacancy__description
                  | Самостоятельный дизайнер с отличной насмотренностью,
                  | который способен без помощи арт-директора решать как базовые дизайн-задачи
                  | так и сложные (дизайн лендингов, подач, презентаций и тд.)
              ul.vacancy__headers
                li Требования
                li Обязанности
                li Стек
              ul.vacancy__descript-list
        li.vacancy__item
          .vacancy__trigger
            span Системный  аналитик
            .vacancy__btn-trigger
          .vacancy__content
        li.vacancy__item
          .vacancy__trigger
            span IT sales manager
            .vacancy__btn-trigger
          .vacancy__content
        li.vacancy__item
          .vacancy__trigger
            span Head of marketing & PR
            .vacancy__btn-trigger
          .vacancy__content
