.footer {
  margin-top: size(70px);
  // &__wrapper {
  //   display: flex;
  //   justify-content: space-between;
  // }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    font-family: $ff-druk;
    font-size: size(11px);
    line-height: size(32px);
    letter-spacing: size(0.222px);
    text-transform: uppercase;
    border: size(2px) solid $color-old-rose;
    border-radius: size(1500px);
    text-align: center;
    display: inline-block;
    padding: 0 size(11px);

    @include vp-1920 {
      font-size: size(23px);
      line-height: size(66px);
      letter-spacing: size(0.456px);
      border: size(3px) solid $color-old-rose;
      border-radius: size(88px);
      padding: 0 size(22px);
      width: size(420px);
    }
  }

  &__description {
    font-family: $ff-druk;
    font-size: size(18px);
    line-height: size(25px);
    letter-spacing: size(0.36px);
    text-transform: uppercase;

    @include vp-1920 {
      font-size: size(35px);
      line-height: size(49px);
      letter-spacing: size(0.7px);
      width: size(808px);
    }
  }

  &__contact {
    border-bottom: size(2px) solid $color-default-white;
    padding-bottom: size(5px);
  }
}
