.container {
  max-width: 100vw;
  padding: 0 18px;

  @include vp-768 {
    max-width: 100vw;
  }

  @include vp-1920 {
    width: 100%;
    max-width: size(1920px);
    margin: 0 auto;
    padding: 0 size(60px);
  }
}
