mixin footer(footerMods)
  footer.footer(class=footerMods, id="footer")
    .container
      h2.visually-hidden футер
      .footer__wrapper
        ul.footer__list
          li.footer__item просто вы
          li.footer__item Я точно нужен вам,
          li.footer__item пока Не знаете
        h3.footer__description
          | Если вы хотите стать частью нашей команды,
          br
          | но не нашли подходящую вакансию в списке выше, то&nbsp;
          a(href="#").footer__contact напишите нам
